{% extends "base.html" %}

{% block title %}
    <title>Форма обратной связи</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="static/index.css">
{% endblock %}

{% block header_button %}
    <div class="header_button">
        <a href="/data">Сохраненные данные</a>
    </div>
{% endblock %}

{% block main %}
    <div class="main_container">
        <h1 class="main_title">Форма обратной связи</h1>
        <div class="main_form_container">
            <form class="main_form" hx-post="/feedback_form" hx-swap="innerHTML" hx-target="#form_status" hx-ext='json-enc'>
                <div class="form_element">
                    <p>Имя:</p>
                    <input type="text" name="name" placeholder="John">
                </div>
                <div class="form_element">
                    <p>Почта:</p>
                    <input type="email" name="email" placeholder="qwerty@qwe.com">
                </div>
                <div class="form_element">
                    <p>Телефон:</p>
                    <input type="tel" name="phone" placeholder="+79991234334">
                </div>
                <button class="form_button" type="submit">Отправить</button>
            </form>
        </div>
        <div id="form_status">

        </div>
    </div>
{% endblock %}